@using Trips.Models;
@using Trips.ViewModels

@model List<ReviewViewModel>;

<h2>Review Post</h2>

<a asp-action="Create">Create New Post</a>

@foreach (var review in Model)
{
    <div>
        <h3>@review.Username</h3>
        <p>@review.Title</p>
        <p>@review.ReviewPost</p>
        <img src="@review.ImagePath" alt="Review Image" /> 
        <p>Username: @review.Username</p>
        <p>Date: @review.PostedDate</p>
    </div>
}    
