@using Trips.Models

@{
    var preMadeItineraries = PreMadeItineraries.GetPreMadeItineraries();
}

<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
<style>
    h2 {
        font-family: 'Dancing Script', cursive;
        color: #343a40;
        text-align: center;
        margin-top: 20px;
    }
    
</style>

<h2>Select PreMade Itineraries</h2>
<br>

<form asp-action="PreMade" method="post">
    @for (int i = 0; i < preMadeItineraries.Count; i++)
    {
        <div>
            <input type="checkbox" id="itinerary@i" name="selectedItineraries" value="@preMadeItineraries[i].Id">
            <label for="itinerary@i"><strong>@preMadeItineraries[i].Name</strong></label>
            <ul>
                @foreach (var location in preMadeItineraries[i].LocationDatas)
                {
                    <li>@location.Name - @location.Address</li>
                    <div>-Description: @location.Description</div>
                    <div>-Category: @location.Category</div>
                    
                }
            </ul>
        </div>
    }

    <button type="submit">Add Selected Itineraries To Your List</button>
</form>
