@model Trips.Models.Itinerary

<div>
    <h2>@Model.Date.ToString("yyyy-MM-dd")</h2>
</div>

<h2>Locations for Itinerary: @Model.Name</h2>

@if (Model.ItineraryLocationDatas != null && Model.ItineraryLocationDatas.Any())
{
    <ul>
        @foreach (var il in Model.ItineraryLocationDatas)
        {
            <li>
                <strong>@il.LocationData.Name</strong>
                <p>@il.LocationData.Description</p>
                <p>Address: @il.LocationData.Address</p>
                <p>Category: @il.LocationData.Category</p>
                <p>Phone Number: @il.LocationData.Phone</p>
                <p>Price Per Person: $@il.LocationData.PricePerPerson.ToString("0.00")</p>
            </li>
        }
    </ul>

    @* Calculate total cost per person for all locations *@
    decimal totalCostPerPerson = (decimal)Model.ItineraryLocationDatas.Sum(il => il.LocationData.PricePerPerson);

    <div>
        <h3>Total Cost for all locations, per person: $@totalCostPerPerson.ToString("0.00")</h3>
    </div>

    @* Calculate total cost per itinerary *@
    decimal totalCostPerItinerary = totalCostPerPerson * Model.NumberOfPeople;

    <div>
        <h3>Total Cost for @Model.NumberOfPeople People: @totalCostPerItinerary.ToString("C")</h3>
    </div>
}
else
{
    <p>No locations found for this itinerary.</p>
}

<a asp-action="Edit" asp-route-itineraryId="@Model.Id">Edit Itinerary</a>
<br>
<a asp-action="Success" asp-route-itineraryId="@Model.Id">View all Itineraries</a>




