@using Itinerary.Models
@using Trips.Data;
@using Trips.Controllers;
@model List<LocationData>;

<h1>Checkbox Form With Api Options</h1>

@if (Model.Count > 0)
{
  <form method="post" asp-controller="Trip" asp-action="Create" id="checkboxForm">
    <input type="text" id="tripName" placeholder="Enter a name for your trip!"><br><br>
   @foreach (LocationData location in Model)
   {
      <div class="location">
          <input type="checkbox" class="form-check-input" name="selectedLocations" value="@location.Id" id="location-checkbox-@location.Id">
          <label for="location-checkbox-@location.Id">Select</label>

          <div class="location-details">
              <div class="location-item">
                  <label for="location-name-@location.Id">Name:</label>
                  <span id="location-name-@location.Id">@location.Name</span>
              </div>

              <div class="location-item">
                  <label for="location-address-@location.Id">Address:</label>
                  <span id="location-address-@location.Id">@location.Address</span>
              </div>

              <div class="location-item">
                  <label for="location-category-@location.Id">Category:</label>
                  <span id="location-category-@location.Id">@location.Category</span>
              </div>

              <div class="location-item">
                  <label for="location-price-@location.Id">Price Per Person:</label>
                  <span id="location-price-@location.Id">@location.PricePerPerson</span>
              </div>

              <div class="location-item">
                  <label for="location-description-@location.Id">Description:</label>
                  <span id="location-description-@location.Id">@location.Description</span>
              </div>

              <div class="location-item">
                  <label for="location-phone-@location.Id">Phone:</label>
                  <span id="location-phone-@location.Id">@location.Phone</span>
              </div>
          </div>
      </div>
   }
   <button type="submit" asp-action="Success">Submit</button>
  </form>

       <script>
            // Get the name entered by the user
            var tripName = document.getElementById('tripName').value;

            // Get all checked items (example)
            var checkedItems = [];
            var checkboxes = document.querySelectorAll('input[type=checkbox]:checked');
            checkboxes.forEach(function(checkbox) {
                checkedItems.push(checkbox.value);
            });
            @* this is not going to get the value from the value="" but it is getting the value of eveyrthing contained in the checkbox? *@

            // Example: Output the name and selected items (for demonstration)
            console.log('Trip Name:', tripName);
            console.log('Selected Locations:', checkedItems);
        });
    </script>
}
else
{
  <p>No Locations available</p>
}

@* to view this page we want to go to Itinerary/Create *@