@using Itinerary.Models
@using Trips.Data;
@using Trips.Controllers;
@model List<LocationData>;
@* 
Build viewmodel
Add DTO *@
@* @model CheckOptionViewModel *@

@* @{
ViewData["Title"] = "Itinerary Creation Page";
} *@

<h1>Checkbox Form With Api Options</h1>

@if (Model.Count > 0)
{
  <form method="post" asp-controller="Trip" asp-action="Create">
    @foreach (LocationData location in Model)
    {
      <input type="checkbox"  name="selectedLocations">
      <label for="LocationDatas">@location.Name @location.Address @location.Category @location.PricePerPerson @location.Description @location.Phone</label>
    }
  </form>
}

else
{
  <p>No Locations available</p>
}
<button type="submit">Submit</button>
 

@* to view this page we want to go to Itinerary/Create *@