@using Itinerary.Models
@using Trips.Data;
@using Trips.Controllers;
@model List<LocationData>;
@* 
Build viewmodel
Add DTO *@
@* @model CheckOptionViewModel *@

@* @{
ViewData["Title"] = "Itinerary Creation Page";
} *@

<h1>Checkbox Form With Api Options</h1>

@if (Model.Count > 0)
{
  <form method="post" asp-controller="Trip" asp-action="Create">
    @foreach (LocationData location in Model)
    {
      <input type="checkbox"  name="selectedLocations">
      <label for="LocationDatas"><label for="location-name-@location.Id">Name</label>@location.Name <label for="location-address-@location.Id">Address</label>@location.Address <label for="location-category-@location.Id">Category</label>@location.Category <label for="location-price-@location.Id">Price Per Person</label>@location.PricePerPerson <label for="location-description-@location.Id">Description</label>@location.Description <label for="location-phone-@location.Id">Phone</label>@location.Phone</label>
    }
  </form>
}

else
{
  <p>No Locations available</p>
}
<button type="submit">Submit</button>
 

@* to view this page we want to go to Itinerary/Create *@